.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-gap: 50px;
  clear: right;
}


/*.leading {
  width: 50%;
  color: white;
  float: right;
}
*/
/*
.leading-text {
  max-width: 900px;
  font-size: 1.8em;
  line-height: 1.8em;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bolder;
  color: #fff;
  display:block;
}*/


.leading {
  width: 50%;
  color: white;
  float: right;
  margin:15px 15px;
  padding: 15px;
}


.leading-text {
  max-width: 700px;
  font-size: 1.8em;
  line-height: 1.1em;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bolder;
  color: #fff;
  display:block;
  margin-bottom: 50px;
}

.leading-bigtext {
  margin-right: 60px;
  font-weight: bolder;
  font-size: 24vw;
}

@media (min-width:640px) {
  .leading-bigtext {
    font-size: 120px;
  }
}

.cards {
  max-width: 960px;
  margin: 0 auto 30px;
}

article {
     background-color:#fff9f4;
     align-items: center;
     float:left;
}

.article-img {
height: 250px;
width: 100%;
position:relative;
left:0px;
margin-top:-50px;
z-index: 3;
padding: 0px 5px 0px 20px ;
}

.article-title {

    bottom: 0px;
    width: 100%;
    display:block;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bolder;
    color: #36406b;
    font-size: 1.5em;
    text-align:center;
}

.container
{
  background-color:#354463;
}

p
{
  padding: 15px;
  color: #36406b;
}

span
{
/*  padding: 15px;
*/ 
}

.button-secondary {
      font-weight: bolder;
      color: #36406b;
      padding: 15px 25px;
      border:1px solid #ccc;
      border-radius: 25px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      background-color: #c1f7d5;
      display:block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;

}
