
	<div class="container">
	<title>Services</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Sarabun" rel="stylesheet">
	<script src="/script.js" defer></script>
		<section class="leading">
			<span class="leading-text">find each of our services that are at the foot of technology with the best experts in the field. </span>
		</section>



      <section class="cards">
        <article>
          <img class="article-img" src="https://banner2.kisspng.com/20180331/jce/kisspng-it-infrastructure-technical-support-information-te-tecnologia-5ac00be42aed04.2071668815225353961758.jpg" alt=" " />
          <h2 class="article-title">
            Web Development
          </h2>

          <p>
          	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          	consequat. 

          </p>
          	          <button class="button-secondary">Read more</button>
        </article>

        <article>
          <img class="article-img" src="https://banner2.kisspng.com/20180822/ryx/kisspng-portable-network-graphics-video-clip-art-image-mul-free-photo-interactive-systems-multimidea-technolo-5b7d97323c0c67.783979291534957362246.jpg" alt=" " />
          <h2 class="article-title">
            Web Design
          </h2>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </p>
            <button class="button-secondary">Read more</button>
        </article>

        <article>
          <img class="article-img" src="https://banner2.kisspng.com/20180331/lhq/kisspng-cloud-computing-computer-software-clip-art-tecnologia-5ac00c2275f627.9569288015225354584832.jpg" alt=" " />
          <h2 class="article-title">
            mobile Development
          </h2>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </p>
        	<button class="button-secondary">Read more</button>
        </article>

      </section>
 </div>
