
<section class="leading">
			<span class="leading-text"> Our Legacy. </span>
		</section>

<ul class="boxes">
  <li>
    <div class="boxes__text-wrapper">
    <article>
	<img src="assets/img/6.png" alt=" " />

	<h2 class="article-title">
	¿ WHAT WE DO ?
	</h2>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.
		</p>
	<a href="">Read more</a>
	</article>

    </div>
  </li>


  <li>
    <div class="boxes__text-wrapper">
     <article>
	<img class="article-img" src="assets/img/4.png" alt=" " />

	<h2 class="article-title">
	¿ WHAT WE DO ?
	</h2>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.
		</p>
	<a href="">Read more</a>
	</article>
    </div>
  </li>


  <li>
    <div class="boxes__text-wrapper">
     <article>
	
	
		<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. 
		</p>
		<a href="">Find out more about this event</a>

	<h2 class="article-auxtitle">
	¿ WHAT WE DO ?
	</h2>
		<img class="article-img" src="assets/img/3.png" alt=" " />
	
	</article>
    </div>
  </li>



  <li>
    <div class="boxes__text-wrapper">
     <article>
	
	
		<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. 
		</p>
		<a href="">Read more</a>

	<h2 class="article-auxtitle">
	¿ WHAT WE DO ?
	</h2>
		<img class="article-img" src="assets/img/8.png" alt=" " />
	
	</article>
    </div>

  </li>


  <li>
    <div class="boxes__text-wrapper">
     <article>
	<img class="article-img" src="assets/img/2.png" alt=" " />

	<h2 class="article-title">
	¿ WHAT WE DO ?
	</h2>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.
		</p>
	<a href="">Read more</a>
	</article>
    </div>
  </li>

<li>
    <div class="boxes__text-wrapper">
     <article>
	<img class="article-img" src="assets/img/5.png" alt=" " />

	<h2 class="article-title">
	¿ WHAT WE DO ?
	</h2>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.
		</p>
	<a href="">Read more</a>
	</article>
    </div>
  </li>
</ul>





